/* QUOTE
--------------------------------------------------------------------------------
*/

/* Remove '>' default quote broder */
blockquote::after {
  content: "";
}
/* Add custom 'blue line' quote border */
blockquote {
    border-left: 3px solid var(--primary-color);
    padding-left: 20px;
    font-style: italic;]
    color:silver;
}

/* CODE
--------------------------------------------------------------------------------
*/

/* Add background to `code` blocks */
:root{  
    --code-bg-color:#eeeeee;
}

/* Remove '`' default code wrap */
code::after, code::before{ 
    content:"";
}

pre code {
    overflow-x: hidden;
    padding: 15px;
}

pre {
    border: none;
}

/* IMG
--------------------------------------------------------------------------------
*/

.smaller_img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* A HREF 
--------------------------------------------------------------------------------
*/

a {
    text-decoration: underline;
}

/* FIG ICONS
--------------------------------------------------------------------------------
*/

figure.icon_fig {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 50px !important;
    height: 50px !important;
}
